<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>834FB99A1E79CB7A005B7996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834FB9AE1E79CB7A005B7996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>834FB9B91E79CB7A005B7996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
